@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-sans text-2xl font-black tracking-wide uppercase md:text-4xl md:leading-normal;
  }
  h2 {
    @apply font-sans text-lg font-semibold capitalize md:text-2xl;
  }
  h3 {
    @apply text-lg font-black capitalize tracking-wide md:text-xl;
  }
  p {
    @apply font-sansBody font-normal leading-relaxed tracking-wide;
  }

  select {
    background-image: url("../../public/arrow-down.svg");
  }
}

@layer components {
  .btn {
    @apply mx-auto font-sans uppercase  focus:outline-none   cursor-pointer  rounded-2xl px-5 py-1 text-xs md:text-sm shadow  md:px-7 md:py-2  tracking-wide font-black touch-none select-none transition-all ease-in-out duration-200;
  }

  .primary-btn {
    @apply bg-orange focus:ring-opacity-0 active:shadow-none hover:bg-orange400 active:bg-orange100;
  }

  .secondary-btn {
    @apply border-2 focus:ring-opacity-0 active:shadow-none hover:bg-orange400 active:bg-orange100;
  }

  .intro h2 {
    @apply max-w-sm uppercase lg:max-w-lg md:leading-10 leading-7 mx-auto text-light font-normal  tracking-wider;
  }

  .intro h2 strong {
    @apply uppercase text-red font-black tracking-wider;
  }
  .cta-text h2 {
    @apply max-w-sm uppercase lg:max-w-lg md:leading-10 leading-7 mx-auto text-black font-normal  tracking-wider;
  }

  .cta-text h2 strong {
    @apply uppercase text-black font-black tracking-wider;
  }
  .markdown-text p {
    @apply text-base font-sansBody mb-5;
  }

  .markdown-text h2 {
    @apply pb-5;
  }

  .res-img {
    @apply w-full h-auto;
  }

  .cover-img {
    @apply object-cover h-full w-full;
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: #000 !important;
}

.slider-control-bottomcenter {
  position: absolute;
  bottom: -35px;
}

.slider-control-bottomcenter .paging-item button {
  background: transparent !important;
  border-radius: 50%;
  width: 1.25rem !important;
  height: 1.25rem !important;
  margin: 0 0.25rem;
  border: 3px solid rgb(253 133 71) !important;
}

.slider-control-bottomcenter .paging-item.active button {
  background: rgb(253 133 71) !important;
}

.slider-control-bottomcenter svg {
  display: none !important;
}

.location {
  background-image: url("../../public/map-pin.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  overflow: visible;
  background-size: 20px 20px;
  padding-left: 25px;
  display: block;
  width: 100%;
}

html,
body {
  overflow-x: hidden;
}
