@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-sans text-2xl font-black tracking-wide uppercase md:text-4xl md:leading-normal;
  }
  h2 {
    @apply font-sans text-lg font-semibold capitalize md:text-3xl;
  }
  h3 {
    @apply text-lg font-bold capitalize tracking-wide md:text-xl;
  }
  p {
    @apply font-sansBody font-normal leading-relaxed tracking-wide;
  }

  select {
    background-image: url("../../public/arrow-down.svg");
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: #000 !important;
}

.img-overlay::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  content: "";
}

.location {
  background-image: url("../../public/map-pin.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  overflow: visible;
  background-size: 20px 20px;
  padding-left: 25px;
  display: block;
  width: 100%;
}
